<%- include ("partials/header.ejs") %>

<p>Air folks! You are one of these three signs:</p>
<ul>
  <% airSigns.forEach((sign) => { %>
  <li><a href="<%= sign %>"><%= sign %></a></li>
  <% }) %>
</ul>
<p>Here are some traits that exemplify you:</p>
<ul>
  <% airTraits.forEach((trait) => { %>
  <li><%= trait %></li>
  <% }) %>
</ul>
<%- include("partials/footer.ejs") %>
