<%- include('./header.ejs') %>

<h2>Air Signs</h2>

<ul>
    <% airSign.forEach(air => { %>
        <li><%=air%></li>
        <a href="air/<%= air %>"><img src="imgs/<%= air %>.png" width="250px" height="230px" alt="<%= air %>"></a>
    <%  }) %>
</ul>