<%- include('partials/header.ejs') %>

<h1>Air Signs:</h1>

<% Signs.forEach(air => { %>
  <a href="/airs/<%= air %>"><%= air %></a>
<%  }) %>

<h2>Air abilities: </h2>
<ol>
    <% Abilities.forEach(ability => { %>
      <li><%= ability %></li>
  <%  }) %>
</ol>

<%- include('partials/footer.ejs') %>