<%- include('./header.ejs') %>

<h2>Earth Signs</h2>

<ul>
    <% earthSign.forEach(earth => { %>
        <li><%=earth%></li>
        <a href="earth/<%= earth %>"><img src="imgs/<%= earth %>.png" width="250px" height="230px" alt="<%= earth %>"></a>
    <%  }) %>
</ul>
