<%- include('partials/header.ejs') %>

<h1>Earth Signs:</h1>

<% Signs.forEach(earth => { %>
  <a href="/earths/<%= earth %>"><%= earth %></a>
<%  }) %>

<h2>Earth abilities: </h2>
<ol>
    <% Abilities.forEach(ability => { %>
      <li><%= ability %></li>
  <%  }) %>
</ol>

<%- include('partials/footer.ejs') %>