<%- include('./partials/header.ejs') %>

<h1>Earth Signs:</h1>

<ol>
    <% signs.forEach(sign => { %>
      <% let link = String(sign)%>
        <li><a href="./earth" + <%=link%> > <%= sign %> </a></li>

  <%  }) %>
</ol>

<h1>And Their Traits:</h1>

<ul>
    <% traits.forEach(trait => { %>
        <li><%= trait %></li>
  <%  }) %>
</ul>

<%- include('./partials/footer.ejs') %>