<h2><%= element.name %> Zodiac</h2>
<h3>Signs</h3>
<ul>
    <% element.signs.forEach(sign => { %>
        <li><a href="/<%= element.name %>/<%= sign %>"><%= sign %></a></li>
    <% }) %>
</ul>
<h3>Traits</h3>
<ul>
    <% element.traits.forEach(trait => { %>
        <li><%= trait %></li>
    <% }) %>
</ul>