<%- include('./header.ejs') %>


<h2>Fire Signs</h2>

<ul>
    <% fireSign.forEach(fire => { %>
        <li><%=fire%></li>
        <a href="fire/<%= fire %>"><img src="imgs/<%= fire %>.png" width="250px" height="230px" alt="<%= fire %>"></a>
    <%  }) %>
</ul>

