<%- include('partials/header.ejs') %>

<h1>Water Signs:</h1>


    <% Signs.forEach(water => { %>
     <a href="/waters/<%= water %>"><%= water %></a>
  <%  }) %>


  <h2>Water abilities: </h2>
<ol>
    <% Abilities.forEach(ability => { %>
      <li><%= ability %></li>
  <%  }) %>
</ol>


<%- include('partials/footer.ejs') %>