<%- include('./header.ejs') %>

<h2>Water Signs</h2>

<ul>
    <% waterSign.forEach(water => { %>
        <li id="list"><%=water%></li>
        <a href="water/<%= water %>"><img src="imgs/<%= water %>.png" width="250px" height="230px" alt="<%= water %>"></a>
</ul>

 <% }) %>