<%- include('./partials/header.ejs') %>


<h1>Water Signs:</h1>

<ol>
    <% signs.forEach(sign => { %>
      <li><a href="/water/<%=sign%>"> <%= sign %> </a></li>
  <%  }) %>
</ol>

<h1>And Their Traits:</h1>

<ul>
    <% traits.forEach(trait => { %>
        <li><%= trait %></li>
  <%  }) %>
</ul>

<%- include('./partials/footer.ejs') %>