<h2><%=element%></h2>

<h4>Signs</h4>
<ul class="signs-list">
<% signs.forEach(sign => { %>
    <li><a href="<%=element.toLowerCase()%>/<%=sign.toLowerCase()%>"><%=sign%></a></li>
           <% }) %>
   </ul>
<h4>Traits</h4>
   <ul>
    <% traits.forEach(element => { %>
 <li><%=element%></li>
        <% }) %>
</ul>